@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --cor1: #C4EACB;
    --cor2: #93eca4;
    --cor3: #61B370;
    --cor4: #3d7748;
    --cor5: #2c5533;
}

body {
    background-color: #61B370;
    margin: 0px;
}
header {
    background-image: linear-gradient(to bottom, white, #61B370);
    
    
    
}
img {
    box-shadow: 0px 5px 20px white;
    padding-bottom: 0px;
    margin-right: 10px;
}
section {
    display: inline-block;
   
}
nav > a {
    text-decoration: none;
    color: #274d2e;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin: 0px; 
}
nav > a:hover {
    text-decoration: underline;
    background-color: #274d2e;
    color: #93eca4;
    border-radius: 5px;
    transition-duration: 0.7s;
}
main > p {
    font-family: 'Kalam', 'cursive';
    font-size: 30px;
    color: #152718;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
    margin: 30px;
    padding-bottom: 30px
}
#video {
    padding: 50px;
    
}
#lista {
    font-family: 'Kalam', 'cursive';
    font-size: 30px;
    color: #152718;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
    padding: 5px;
        
    border-radius: 10px;
}
div {
    display: inline-block;
}
iframe {
    border-radius: 10px;
}
li {
    padding-bottom: 45px;
}
#lista > p {
    padding-bottom: 25px;
}